<footer class="app-footer" style="font-weight:600; background-color:#ecf0f5" >
  
  <span style="margin-left:23%">{{feedType1_text}} - <span style="color: #20a8d8">{{feedType1_time}}</span></span>
  <span style="margin-left:5%">{{feedType2_text}} - <span style="color: #20a8d8">{{feedType2_time}}</span></span>
  
   <!-- <span style="margin-left:23%">Last OneSource Feed Received - <span style="color: #20a8d8">01/25/2018 11:25:58
  </span></span>
  <span style="margin-left:5%">Last DMS feed received - <span style="color: #20a8d8">01/25/2018 11:25:58
  </span></span> -->
 
</footer>
